<div id="title" class="span-24 last chunk">
                <div id="tawheed">Tawheed A. Raheem</div>
                <div id="developer">I'm a <a href="https://github.com/tawrahim" target="_blank">developer</a></div>
                <div id="educator">and an <a href="http://www.raheemacademy.appspot.com" target="_blank">educator.</a></div>
            </div>

<div id="nav" class="museo-sans span-24 last">
   <div id="nav" class="museo-sans span-24 last">
            <div class="span-5 prepend-1">
                <div class="nav-headline"><a href="/about">About</a></div>
                <div class="nav-text">A little note about me!</div>
    </div>
    <%= render 'homepage/navbar' %>
</div>
