<div class="container">
    <div id="title" class="span-24 last chunk">
        <div id="tawheed">Tawheed A. Raheem</div>
        <div id="developer">I'm a <%= link_to "developer", "http://www.github.com/tawrahim", target: "_blank"%> </div>
        <div id="educator">and an <%= link_to "educator", "http://www.raheemacademy.appspot.com", target: "_blank"%> </div>
    </div>
   <div id="nav" class="museo-sans span-24 last">
            <div class="span-5 prepend-1">
                <div class="nav-headline"><a href="about.php">About</a></div>
                <div class="nav-text">A little note about me!</div>
            </div>
            <div class="span-6">
                <div class="nav-headline"><a href="https://github.com/tawrahim" target="_blank">Projects</a></div>
                <div class="nav-text">Projects that I am working on.</div>
            </div>
            <div class="span-6">
                <div class="nav-headline"><a href="http://tawheedraheem.tumblr.com/" target="_blank">Blog</a></div>
                <div class="nav-text">More like a journal...</div>
            </div>
            <div class="span-5 last">
                <div class="nav-headline"><a href="http://raheemacademy.appspot.com" target="_blank">Teaching</a></div>
            <div class="nav-text">I teach my cousins how to code in python.</div>
            </div>
            <div class="span-23 prepend-1 last" id="nav-current">
                <div id="nav-current-text"></div>
            </div>
        </div>
</div>

