<div id="title" class="span-24 last chunk">
                <div id="tawheed">Tawheed A. Raheem</div>
                <div id="developer">I'm a <%= link_to "developer","https://github.com/tawrahim"%> </div>
                <div id="educator">and an</div>
</div>

<div id="nav" class="museo-sans span-24 last">
   <div id="nav" class="museo-sans span-24 last">
            <div class="span-5 prepend-1">
                <div class="nav-headline"><a href="about.php">About</a></div>
                <div class="nav-text">A little note about me!</div>
    </div>
    <%= render 'homepage/navbar' %>
</div>
